<p id="notice"><%= notice %></p>

<h1>Questions</h1>
<h5>Предмет: <%= @book.book %> </h5>
<h5><%= @part.part %> </h5>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer1</th>
      <th>Answer2</th>
      <th>Answer3</th>
      <th>Answer4</th>
      <th>Best</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.answer1 %></td>
        <td><%= question.answer2 %></td>
        <td><%= question.answer3 %></td>
        <td><%= question.answer4 %></td>
        <td><%= question.best %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', controller: "questions", action: "new", id: @part_id %> | 
<%= link_to 'Назад к списку УРОКОВ', controller: "parts", action: "index", id: @part.book_id %>
