<p id="notice"><%= notice %></p>

<h1>Seances</h1>

<table>
  <thead>
    <tr>
      <th>Quest1</th>
      <th>Quest2</th>
      <th>Quest3</th>
      <th>Quest4</th>
      <th>Quest5</th>
      <th>Quest6</th>
      <th>Quest7</th>
      <th>quest8</th>
      <th>Quest9</th>
      <th>Quest10</th>
      <th>Be quests</th>
      <th>Answ1</th>
      <th>Answ2</th>
      <th>Answ3</th>
      <th>Answ4</th>
      <th>Answ5</th>
      <th>Answ6</th>
      <th>Answ7</th>
      <th>Answ8</th>
      <th>Answ9</th>
      <th>Answ10</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seances.each do |seance| %>
      <tr>
        <td><%= seance.quest1 %></td>
        <td><%= seance.quest2 %></td>
        <td><%= seance.quest3 %></td>
        <td><%= seance.quest4 %></td>
        <td><%= seance.quest5 %></td>
        <td><%= seance.quest6 %></td>
        <td><%= seance.quest7 %></td>
        <td><%= seance.quest8 %></td>
        <td><%= seance.quest9 %></td>
        <td><%= seance.quest10 %></td>
        <td><%= seance.be_quests %></td>
        <td><%= seance.answ1 %></td>
        <td><%= seance.answ2 %></td>
        <td><%= seance.answ3 %></td>
        <td><%= seance.answ4 %></td>
        <td><%= seance.answ5 %></td>
        <td><%= seance.answ6 %></td>
        <td><%= seance.answ7 %></td>
        <td><%= seance.answ8 %></td>
        <td><%= seance.answ9 %></td>
        <td><%= seance.answ10 %></td>
        <td><%= seance.user %></td>
        <td><%= link_to 'Show', seance %></td>
        <td><%= link_to 'Edit', edit_seance_path(seance) %></td>
        <td><%= link_to 'Destroy', seance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seance', new_seance_path %>
