<h1>Результат тестировния</h1>
<h3> и рекомендации </h3>

<p>
  <strong>Quest1:</strong>
  <%= @seance.quest1 %>
</p>

<p>
  <strong>Quest2:</strong>
  <%= @seance.quest2 %>
</p>

<p>
  <strong>Quest3:</strong>
  <%= @seance.quest3 %>
</p>

<p>
  <strong>Quest4:</strong>
  <%= @seance.quest4 %>
</p>

<p>
  <strong>Quest5:</strong>
  <%= @seance.quest5 %>
</p>

<p>
  <strong>Quest6:</strong>
  <%= @seance.quest6 %>
</p>

<p>
  <strong>Quest7:</strong>
  <%= @seance.quest7 %>
</p>

<p>
  <strong>9quest8:</strong>
  <%= @seance.quest8 %>
</p>

<p>
  <strong>Quest9:</strong>
  <%= @seance.quest9 %>
</p>

<p>
  <strong>Quest10:</strong>
  <%= @seance.quest10 %>
</p>

<p>
  <strong>Be quests:</strong>
  <%= @seance.be_quests %>
</p>

<p>
  <strong>Answ1:</strong>
  <%= @seance.answ1 %>
</p>

<p>
  <strong>Answ2:</strong>
  <%= @seance.answ2 %>
</p>

<p>
  <strong>Answ3:</strong>
  <%= @seance.answ3 %>
</p>

<p>
  <strong>Answ4:</strong>
  <%= @seance.answ4 %>
</p>

<p>
  <strong>Answ5:</strong>
  <%= @seance.answ5 %>
</p>

<p>
  <strong>Answ6:</strong>
  <%= @seance.answ6 %>
</p>

<p>
  <strong>Answ7:</strong>
  <%= @seance.answ7 %>
</p>

<p>
  <strong>Answ8:</strong>
  <%= @seance.answ8 %>
</p>

<p>
  <strong>Answ9:</strong>
  <%= @seance.answ9 %>
</p>

<p>
  <strong>Answ10:</strong>
  <%= @seance.answ10 %>
</p>

<p>
  <strong>User:</strong>
  <%= @seance.user %>
</p>

<%= link_to 'Edit', edit_seance_path(@seance) %> |
<%= link_to 'Back', seances_path %>
