<h1>Результат тестировния</h1>
<h3> и рекомендации </h3>

<p>
  <strong>Quest1:</strong>
  <%= @seances.quest1 %>
</p>

<p>
  <strong>Quest2:</strong>
  <%= @seances.quest2 %>
</p>

<p>
  <strong>Quest3:</strong>
  <%= @seances.quest3 %>
</p>

<p>
  <strong>Quest4:</strong>
  <%= @seances.quest4 %>
</p>

<p>
  <strong>Quest5:</strong>
  <%= @seances.quest5 %>
</p>

<p>
  <strong>Quest6:</strong>
  <%= @seances.quest6 %>
</p>

<p>
  <strong>Quest7:</strong>
  <%= @seances.quest7 %>
</p>

<p>
  <strong>9quest8:</strong>
  <%= @seances.quest8 %>
</p>

<p>
  <strong>Quest9:</strong>
  <%= @seances.quest9 %>
</p>

<p>
  <strong>Quest10:</strong>
  <%= @seances.quest10 %>
</p>

<p>
  <strong>Be quests:</strong>
  <%= @seances.be_quests %>
</p>

<p>
  <strong>Answ1:</strong>
  <%= @seances.answ1 %>
</p>

<p>
  <strong>Answ2:</strong>
  <%= @seances.answ2 %>
</p>

<p>
  <strong>Answ3:</strong>
  <%= @seances.answ3 %>
</p>

<p>
  <strong>Answ4:</strong>
  <%= @seances.answ4 %>
</p>

<p>
  <strong>Answ5:</strong>
  <%= @seances.answ5 %>
</p>

<p>
  <strong>Answ6:</strong>
  <%= @seances.answ6 %>
</p>

<p>
  <strong>Answ7:</strong>
  <%= @seances.answ7 %>
</p>

<p>
  <strong>Answ8:</strong>
  <%= @seances.answ8 %>
</p>

<p>
  <strong>Answ9:</strong>
  <%= @seances.answ9 %>
</p>

<p>
  <strong>Answ10:</strong>
  <%= @seances.answ10 %>
</p>

<p>
  <strong>User:</strong>
  <%= @seances.user %>
</p>

<%= link_to 'Edit', edit_seance_path(@seances) %> |
<%= link_to 'Back', seances_path %>
