<%= form_with(model: seance, url: { action: "testing", method: :post }, local: true) do |form| %>
  <h2><%= @test_question %>
  </h2>
  <p></p>
  <p>
    <%= check_box_tag :one %>
    <%= label_tag(:one, @one_var) %>
  </p>
  <p>
    <%= check_box_tag :two %>
    <%= label_tag(:two, @two_var) %>
  </p>
  <p>
    <%= check_box_tag :three %>
    <%= label_tag(:three, @three_var) %>
  </p>
  <p>
    <%= check_box_tag :four %>
    <%= label_tag(:four, @four_var) %>
  </p>
  
      <%= number_field_tag :howmuch, @howmuch, hidden: true %>
      <%= number_field_tag :seance_id, @seance_id, hidden: true %>


  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
