<%= form_with(model: seance, url: { action: "testing" }, local: true) do |form| %>
  <p>
    <%= check_box_tag :one %>
    <%= label_tag(:one, "Первый вариант") %>
  </p>
  <p>
    <%= check_box_tag :two %>
    <%= label_tag(:two, "Второй вариант") %>
  </p>
  <p>
    <%= check_box_tag :three %>
    <%= label_tag(:three, "Третий вариант") %>
  </p>
  <p>
    <%= check_box_tag :four %>
    <%= label_tag(:four, "Четвертый вариант") %>
  </p>
  
      <%= number_field_tag :howmuch, @howmuch, hidden: true %>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
