<h1>Результат тестировния и рекомендации:</h1>
<h3>
  <strong>Абитуриет: </strong>
  <%= @user.email %>
</h3>

<% for i in 1..5 do %>
  <div class="row">
    <div class="col-md-1">
     <%= i %>.
    </div>
    <div class="col-md-5">
      <%= @quest[i] %>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">  
      <%= @answ_user[i] %>
    </div>
  </div>
  <% unless @answ_true[i].nil? %>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        Правильный ответ:
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <%= @answ_true[i] %>
      </div>
    </div>
  <% end %>
<% end %>


