<%= form_with(model: [ :admin, @part ], local: true) do |part_form| %>
  <%= part_form.fields_for :book do |book_fields| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= part_form.label :part %>
    <%= part_form.text_field :part %>
    <%= part_form.number_field :book_id, hidden: true %>
  </div>

  <div class="actions">
    <%= part_form.submit %>
  </div>
<% end %>
<% end %>

